.search {
    display: flex;
    justify-content: center;
    margin: 20px;
}
.search input {
    border-radius: 10rem 0 0 10rem;
    border: none;
    height: 3rem;
    width: 20rem;
    background-color: #f1f1f1;
    padding: 1.5rem;
    font-size: 1rem;
    font-weight: 500;
    outline: none;
}
.search button{
    border-radius: 0 10rem 10rem 0;
    height: 3rem;
    width: 5rem;
    font-size: 1rem;
    outline: none;
    border: none;
    background-color: #e63946;
    opacity: .9;
}
.search button:hover{
    border-radius: 0 10rem 10rem 0;
    height: 3rem;
    width: 5rem;
    font-size: 1rem;
    outline: none;
    border: none;
    background-color: #e63946;
    opacity: 1;
}